{% extends 'techtreasure/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Make Listing
{% endblock %}

{% block body_block %}
<div class="mx-auto listing-page text-center">
    <h1>Create a New Listing</h1>
    <form id="category_form" method="post" action="{% url 'techtreasure:add_listing'%} " enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}<br />
        <button type="submit" name="submit" value="Create Listing" class="btn btn-primary">Create Listing</button>
      </form>
    <br />
</div>
{% endblock %}