{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block body_block %}
    <body>
    <div class="item-container">

        </div>
    <div class="paging">
        <div class="pre">previous page</div>
        <div class="page">current page：1</div>
        <div class="next">next page</div>
    </div>
    <script>
        var count = 0
        var currentPage = 1;
        var pageSize = 10
        function getHistoryRecords(page, limit) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET",  "/login/userprofile/get_history/?page=" + page + "&limit=" + limit, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    var response = JSON.parse(xhr.responseText);
                    //总页数
                    count = response.count_num
                    displayHistoryRecords(response.data);
                }
            };
            xhr.send();
        }

        function displayHistoryRecords(records) {
            var container = document.getElementsByClassName("item-container")[0];
            container.innerHTML = "";
            console.log(container)

            for (var i = 0; i < records.length; i++) {
                var record = records[i];
                var recordElement = document.createElement("div");
                recordElement.className = 'item'
                recordElement.innerHTML = "<p><img src='" + {{ MEDIA_URL }}+record.file_image + "' alt='" + record.name + "'></p>"+
                                           "<p>Name: " + record.name + ",Price: " + record.price + "</p>" ;
                container.appendChild(recordElement);
            }
        }

        window.onload = function() {
            getHistoryRecords(currentPage, pageSize);
        };


            let pageElement = document.querySelector(".page");

        let nextButton = document.querySelector('.next')
        nextButton.onclick = function (){
            if (currentPage < count) {
                     currentPage++;
                    pageElement.textContent = "current page：" + currentPage;
                    getHistoryRecords(currentPage, pageSize);
                }
        }
        let preButton = document.querySelector('.pre')
        preButton.onclick = function (){
           if (currentPage > 1) {
                    currentPage--;
                    pageElement.textContent = "current page：" + currentPage;
               getHistoryRecords(currentPage, pageSize);
                }
        }

    </script>
    </body>
    <style>

.item-container{
    display: flex;
    flex-wrap: wrap;
    {#justify-content: space-around;#}
}
        .item-container .item {
            display: inline-block;
            width: 18.5%;
            {#height: 300px;#}
            margin-bottom: 22px;
            margin-right: 20px
        }

        .item-container .item:nth-child(5n) {
            margin-right: 0;
        }

        .item-container .item img {
            width: 100%;
            height: 100%;
        }

        .paging {
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 10px 0;
        }

        .page {
            margin: 0 10px;
        }

        .pre {
            cursor: pointer;
        }

        .next {
            cursor: pointer;
        }
    </style>
{% endblock %}
