{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Category PLACEHOLDER
{% endblock %}

{% block body_block %}
    <div>
    {% if category %}
        {{% for category in categories %}}
            {{% if category}}
        <h1>{{ category.name }}</h1>
        {% if pages %}
        <ul>
            {% for listing in listings %}
            <li><a href="{% url 'techtreasure:show_category' category.slug %}/{{ listing.id }}">{{ listing.name }}</a></li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}