{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Categories
{% endblock %}

{% block body_block %}
    <div> 
        <a href="{% url 'techtreasure:searchlistings' %}">Search Listings</a>
    </div>
    <div class="categories">
        <h2>All Categories</h2>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <img src="/static/{{ category.name }}.png" alt="Picture of {{ category.name }}">
                <li><a href="{% url 'techtreasure:show_category' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>No categories available.</strong>
        {% endif %}
    </div>
    <div>
        <h1>Categories</h1>
    </div>    
{% endblock %}

