{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ category.name }}'s
{% endblock %}

{% block heading_block %}
    {{ category.name }}
{% endblock %}

{% block body_block %}
    <div>
        {% if category %}
            {% if listings %}
            <ul>
                {% for listing in listings %}
                <li><a href="{% url 'techtreasure:show_category' category.slug %}{{ listing.id }}/">{{ listing.name }}</a></li>
                {% endfor %}
        </ul>
            {% else %}
            <b>There are currently no {{ category.name }} listings.</b>
            {% endif %}
        {% else %}
            <b>category is invalid</b>
        {% endif %}
    </div>
{% endblock %}