{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQ's
{% endblock %}

{% block heading_block %}
    FAQ's
{% endblock %}

{% block body_block %}
    <div>
        <img class="rounded float-end faqs-img" src="{% static 'images/faqs/jason-goodman-Oalh2MojUuk-unsplash.jpg' %}">
        <p>
            Welcome to TechTreasure, where the world of technology meets the excitement of auctions! At TechTreasure, we've created a unique online platform dedicated to the buying and selling of PC parts through thrilling auction experiences. Our mission is to empower tech enthusiasts, gamers, and professionals to discover, bid on, and sell high-quality PC components in a dynamic and engaging marketplace.
        </p>
    </div>
    <div class="contact-us">
        <h2>Contact Us</h2>
        <p>
            If you require assistance with your account, a transaction, or have any general inquiries, our customer support team 
            is available to help. You can reach them via email or phone during our operating hours. <br />
            <br />Email: support@techtreasure.co.uk <br />
            Phone: +44 (0)20 1234 5678 <br />
            Operating Hours: Monday to Friday, 9:00 AM to 5:00 PM GMT <br />
        </p>
    </div>
{% endblock %}