{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    FAQ's
{% endblock %}

{% block heading_block %}
    FAQ's
{% endblock %}

{% block body_block %}
    <div>
        here is the about page.<br />
        <strong>{{ boldmessage }}</strong><br />
    </div>
    <div id-="contactus">
        <h2>Contact Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas nisi sit amet arcu volutpat ullamcorper vitae eu magna. Ut in elit non erat tempor interdum in non lectus. Etiam massa ante, ornare pellentesque magna et, ultricies molestie est. In eleifend elit et scelerisque tempor. Etiam elementum libero a arcu congue, eu ultrices lectus mollis. Sed ornare scelerisque vulputate. Nam congue mollis turpis, non aliquet ante. Praesent molestie vitae sapien non efficitur.
            Aenean tristique velit id arcu tempor, viverra eleifend ex ultrices. Phasellus vitae placerat sapien, sed pulvinar sem. Donec imperdiet urna non convallis feugiat. Aliquam sed nisi eget elit tempus egestas. Quisque bibendum vestibulum ipsum sed porta. Nam eget lectus ipsum. Maecenas consequat tempus tempor. Maecenas ac risus vehicula, porttitor purus sit amet, euismod diam. Curabitur porta diam sed lacus rhoncus elementum. Sed accumsan justo a tortor suscipit condimentum. Sed ultricies facilisis eros. Cras in fermentum libero, eget porttitor urna. Suspendisse cursus nec nulla a vehicula. Vivamus efficitur urna quis metus commodo accumsan eu id nibh.
        </p>
    </div>
{% endblock %}