{% extends 'techtreasure/base.html' %}
{% load staticfiles %}
{% load techtreasure_template_tags %}

{% block title_block %}
    Home
{% endblock %}

{% block heading_block %}
    Home
{% endblock %}

{% block body_block %}
    <div>
        <h2 class="text-start">Popular Categories</h2>
        <div>
            {% get_category_list categories %}
        </div>
    </div>

    <div>
        <h2 class="text-start">Recent Listings</h2>
        <div>
            {% get_listings_list listings %}
        </div>

    </div>
    
{% endblock %}
