{% load static %}
<div class="container">
  {% if categories %}
      <div class="row listing">
          {% for c in categories %}
              <div class="col-sm-6 col-md-3 mb-3">
                  <div class="border grid-item tier1 listing-child" style="border: 1px">
                      <a href="{% url 'techtreasure:show_category' c.slug %}">
                          <img class="img-fluid card-img-top" src="{% static '/Categories/' %}{{ c.slug}}.svg" alt="Picture of {{ category.slug }}">
                      </a>
                      <div style="text-align: center;">
                          <a href="{% url 'techtreasure:show_category' c.slug %}" class="listing-text-anchor">{{ c.name }}</a>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  {% else %}
      <strong>No Listing available.</strong>
  {% endif %}
</div>

