{% load staticfiles %}
{% load static %}
<div class="container">
    {% if listings %}
        <div class="row g-5">
            {% for listing in listings %}
            <div class="col-md-3 col-12">    
                    <div class="card">
                        <img src="/media/{{ listing.picture_field }}" class="card-img-top img-fit" alt="{{ listing.name }}">
                        <div class="card-body">
                            <a href="{% url 'techtreasure:show_listing' category_name_slug=listing.category.slug id=listing.id %}" class="card-text text-center">{{ listing.name }}</a>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <strong>No listings available.</strong>
    {% endif %}
</div>