{% load static %}
<div class="container">
    {% if categories %}
        <div class="row g-5">
            {% for c in categories %}
            <div class="col-md-3 col-12">    
                    <div class="card">
                        <a class="card-img" href="{% url 'techtreasure:show_category' c.slug %}">
                            <div class="zoom-img">
                                <img class="card-img-top img-fit" src="{% static '/Categories/' %}{{ c.slug}}.svg" alt="Picture of {{ c.slug }}">
                            </div>
                        </a>
                        <div class="card-body">
                            <a href="{% url 'techtreasure:show_category' c.slug %}" class="text-center card-text">{{ c.name }}</a>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <strong>No listings available.</strong>
    {% endif %}
</div>

