{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block header_block %}
    Login
{% endblock %}

{% block body_block %}

<link href="{% static 'signin.css' %}" rel="stylesheet">
  
<main class="form-signin w-100 m-auto mt-5">
<form id="login_form" method="post" action="{% url 'techtreasure:user_login' %}">
    {% csrf_token %}
  <img class="mb-4" src="{% static 'images/icon.svg' %}" alt="" width="72" height="57">
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

  <div class="form-floating">
    <input type="text" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Username</label>
  </div>
  <div class="form-floating">
    <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>
  <button class="btn btn-primary w-100 py-2" value="submit" type="submit">Sign in</button>
  <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2024</p>
</form>
</main>

{% endblock %}

  