{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Search Listings
{% endblock %}

{% block heading_block %}
    Search Listings
{% endblock %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
           
            <form class="d-flex" action="{% url 'searchlistings' %}" method="get" role="search">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
