{% extends 'techtreasure/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block body_block %}
    <div class="container text-center">
    {% if registered %}
        <h1>Signed Up</h1>
        You have successfully created an account<br />
        <a href="{% url 'techtreasure:home' %}">Return to the homepage.</a><br />
    {% else %}
        <h1>Sign Up</h1><br />
        <form id="user_form" method="post" action="{% url 'techtreasure:register' %}"
            enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Display each form -->
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <!-- Provide a button to click to submit the form. --><br />
            <input type="submit" class="btn btn-primary" name="submit" value="Register" />
        </form>
        <p>Already have an account? <a href="{% url 'techtreasure:register' %}"></a></p>
    {% endif %}
    </div>  

{% endblock %}
